<div class="wrapper">
  <div class="side-bar">
      <%= render "side_bar" %>
  </div>

  
  <div class="main-container">
    <%= render "main_chat" %>
    
    <div class="chat-main">
      <%= render partial: 'message', collection: @messages %>
    </div>
    
    <%= form_with model: [@room, @message], class: 'form', local: true do |f| %> 
      <div class="message">
        <%= f.text_field :content, class: 'message-text', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <div class="send-message">
        <%= f.submit '送信', class: 'btn' %>
      </div>
    <%end%>
  </div>
</div>